################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CHDReaderTest/obj
/CHDReaderTest/bin
